include mixvar
doctype
html
	head
		title Altescii
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/font-awesome.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		header
			nav#menu.navbar.navbar-default.navbar-fixed-top
				div.navbar-header
					button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbarCollapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					
					a.navbar-brand(href="#") Altescii

				div#navbarCollapse.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li 
							a(href="#services") SERVICIOS
						li 
							a(href="#portfolio") PORTAFOLIO
						li 
							a(href="#about") HISTORIA
						li 
							a(href="#team") NOSOTROS
						li 
							a(href="#contact") CONTACTO

		section.header-bg
			div.container.text-center
				h2 Hacemos más que páginas web
				h1 Creamos nuevas historias
				button.btn.btn-default.btn-yellow(type="submit") CUÉNTANOS DE TI!

		section#services.services
			div.container.text-center
				h3 SERVICIOS
				p.concepto=concepto
				div.row
					div.col-md-4.box-service
						i.fa.fa-desktop
						h4 Páginas Web
						p=paginasweb
					div.col-md-4.box-service
						i.fa.fa-mobile
						h4 Responsive Design
						p=responsive
					div.col-md-4.box-service
						i.fa.fa-rocket
						h4 Aplicaciones Móviles
						p=moviles
						
		section#portfolio.portfolio
			div.container.text-center
				h3 PORTFOLIO
				p.concepto=concepto
				div.row
					div.col-md-4
						div.portfolio-item
							a(href="http://parakawa.github.io/Flat-Theme/", target="_blank")
								img(src="img/portfolio/flat-theme.png", alt="")
							h4 Flat-Theme
							p Bootstrap
					div.col-md-4
						div.portfolio-item
							a(href="http://parakawa.github.io/LoveBlog-Theme/", target="_blank")
								img(src="img/portfolio/love-blog.png", alt="")
							h4 Love Blog
							p Bootstrap
					div.col-md-4
						div.portfolio-item
							a(href="http://parakawa.github.io/TrabajoGrupal/", target="_blank")
								img(src="img/portfolio/portfolio.png", alt="")
							h4 Portfolio
							p Web Design

				div.row
					div.col-md-4
						div.portfolio-item
							a(href="http://parakawa.github.io/Flatness/", target="_blank")
								img(src="img/portfolio/flatness400.png", alt="")
							h4 Flatness
							p Web Design
					div.col-md-4
						div.portfolio-item
							a(href="http://michu6.github.io/Proyecto-primes/", target="_blank")
								img(src="img/portfolio/primes.png", alt="")
							h4 Primes
							p Web Design
					div.col-md-4
						div.portfolio-item
							a(href="http://sazabache.github.io/Sentient/", target="_blank")
								img(src="img/portfolio/sentient.png", alt="")
							h4 Sentient
							p Web Responsive
	section#team.text-center
		h2 CONOCE A NUESTRO EQUIPO!
		span.subtit Coders de Laboratoria
		.container 
			.row.mt-5
			+team('img/team/karen.png', 'Karen Valdivia', 'Web Designer','https://twitter.com/altescii','https://www.facebook.com/karenmarilu.valdiviasimiche?fref=ts','https://github.com/Michu6')
			+team('img/team/sandra.jpg', 'Sandra Azabache', 'Web Designer','https://twitter.com/altescii','https://www.facebook.com/sandramar02?fref=ts','https://github.com/sazabache')
			+team('img/team/paty.jpg', 'Paty Arakawa', 'Web Designer','https://twitter.com/patydromeda','https://www.facebook.com/paty.arakawa?fref=ts','https://github.com/parakawa')

	section#logos.text-center
	.container
			+logos('laboratoria.png')

	section#contact.contact
			div.container.text-center
				h3 CONTÁCTANOS
				div.row.formulario
					div.col-md-6
						form
							div.form-group
								input.form-control(type="text", placeholder="NOMBRE *")
							div.form-group
								input.form-control(type="email", placeholder="EMAIL *")
							div.form-group
								input.form-control(type="tel", placeholder="CELULAR *")

					div.col-md-6
						div.form-group
							textarea.form-control(name="", cols="30", rows="8", placeholder="ESCRIBE TU MENSAJE AQUÍ *")
				button.btn.btn-default.btn-yellow(type="submit") ENVIAR
	footer
			div.container.text-center
				div.row
					div.col-md-4
						p Altescii 2016
					div.col-md-4
						+social('https://twitter.com/altescii','https://www.facebook.com/altescii','altescii.com')
					div.col-md-4.line
						a(href="#") By HTML5 Up
						a(href="#") Términos de Uso

	script(type='text/javascript', src='assets/js/jquery.js')
	script(type='text/javascript', src='assets/js/bootstrap.min.js')
	script(type='text/javascript', src='assets/js/main.js')